/*snowwhuite_test.css*/
.drag-drop {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Align items evenly along the main axis */
}

#drag-drop p {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fillInTheBlank {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

#fillInTheBlank p {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

#fillInTheBlank button {
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #4285f4;
  color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px; /* Add margin between buttons */
}

#fillInTheBlank button:hover {
  background-color: aqua; /* Change background color on hover */
  color: black;
}

/* Add your styles here */
.drop-box {
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: auto;
  min-width: 100px;
  height: 40px;
}

.drag-item {
  border: 1px solid #ccc;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
  cursor: move;
}

#code-block {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

#explanation {
  width: 80%; /* 50% width with 5px margin on the left */
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box; /* Include border and padding in the width */
  float: right;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

#code-block-header {
  width: 100%;
  text-align: center;
}

#input {
  width: 80%; /* 50% width with 5px margin on the right */
  align-items: center;
  height: 200px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  margin-bottom: 5px;
  float: left;
}

#python-code{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

#output {
  width: 80%; /* 50% width with 5px margin on the left */
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box; /* Include border and padding in the width */
  float: right;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

#submit-button-area {
  width: 100%;
  text-align: center; /* Align button to the right */
  margin-top: 10px; /* Adjust as needed */
}

.code-submit-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #4285f4;
  color: #ffffff;
  border-radius: 10px;
  font-size: 90%;
  text-decoration: none;
}

.code-submit-button:hover {
  background-color: aqua;
  color: black;
}