{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Snow White3 - Part test - 03</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/snowwhite_common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/snowwhite_test.css' %}">
    <script>

        var user = {
            username: "{{ user.username }}",
        };

        $(document).ready(function() {
            const conversations = {{ conversations|safe }};
            let currentLine = 0;
            const container = $('.conversation-container');
            const dragdrop = $('.drag-drop');
            const robotName = "{{ user.robotname }}";
        
            const displayConversation = () => {
                if (currentLine < conversations.length) {
                    const item = $('<div>').addClass('dialogue-container');
                    const text = $('<p>').addClass('dialogue-text').text(conversations[currentLine].text.replace(/robot/g, robotName));
                    if (conversations[currentLine].image) {
                        const img = $('<img>').addClass('speaker-image').attr('src', "{% static '' %}" + conversations[currentLine].image).attr('alt', 'Image');
                        item.append(img);
                    }
                    if (conversations[currentLine].image) {
                        if (conversations[currentLine].speaker == 'robot'){
                            const speakerName = $('<span>').addClass('speaker-name').text(robotName + ':');
                            text.prepend(speakerName);
                        }
                        else{
                            const speakerName = $('<span>').addClass('speaker-name').text(conversations[currentLine].speaker + ':');
                            text.prepend(speakerName);
                        }
                        
                    }
                    item.append(text);
                    container.append(item.hide().fadeIn(1000));
        
                    $('html, body').animate({
                        scrollTop: $(document).height()
                    }, 7000);
        
                    currentLine++;
                } else {
                    clearInterval(conversationInterval);
                    dragdrop.show();
                }
            };
        
            const conversationInterval = setInterval(displayConversation, 7000); // 2-second interval for demonstration
            displayConversation(); // Show the first conversation immediately
        });
        
        function savepage() {
            const username = user.username
        
            // Make an AJAX request to the Django view
            var csrftoken = Cookies.get('csrftoken');
            $.ajaxSetup({
                headers: { 'X-CSRFToken': csrftoken }
            });
            $.ajax({
                type: 'POST',
                url: '{% url "savepage" %}',
                data: {
                    username: username,
                    fairytale: 'snowwhit3',
                    page: '12'
                },
                dataType: 'json',
                success: function(response) {
                    // Handle the success response
                    console.log(response);
                    if (response.status == 'success') {
                        window.location.href = '{% url "fairytale_home" %}';
                    } else {
                        alert(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    // Handle the error response
                    console.error('AJAX error:', status, error);
                    alert(error);
                }
            });
        }
        
        function logout() {
            // Make an AJAX request to the Django view for logging out
            var csrftoken = Cookies.get('csrftoken');
            $.ajax({
                type: 'POST',
                url: '{% url "logout_and_home" %}',
                headers: { 'X-CSRFToken': csrftoken },
                success: function(response) {
                    // Redirect to the home page after successful logout
                    window.location.href = '{% url "home" %}';
                },
                error: function(xhr, status, error) {
                    // Handle the error response
                    console.error('AJAX error:', status, error);
                    alert(error);
                }
            });
        }


        var originalDragItems = document.querySelectorAll(".drag-item");

        function allowDrop(event) {
            event.preventDefault();
        }
        
        function drag(event) {
            event.dataTransfer.setData("text", event.target.id);
        }
        
        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text");
            var draggedElement = document.getElementById(data);
        
            // Clone the dragged element to preserve the original
            var clone = draggedElement.cloneNode(true);
            clone.setAttribute("draggable", "true");
            clone.setAttribute("id", "clone_" + data);
            
            // Append the clone to the drop box
            event.target.appendChild(clone);
        }
        
        function checkAnswer() {
            var dropBox = document.getElementById("dragDropBox");
            var answer = dropBox.innerText.trim().toLowerCase();
            const container = $('.drag-drop');
        
            // Replace 'fine' with the correct answer
            if (answer == "+ text2") {
                alert("거울: 왕비님은 세상에서 제일 아름답지 않습니다. 우주에서 제일 아름답습니다.");
                const nextButton = $('<a>').attr('href', "{% url 'snowwhite3_13' %}").addClass('next-button').text('완벽해!');
                container.append(nextButton);
            } else {
                if(answer == "* 2"){
                    alert("왕비님은 세상에서 제일 아름답지 않습니다.왕비님은 세상에서 제일 아름답지 않습니다.\n안돼! 이건 더 화나게 만들 뿐이야!");
                    clearAnswer()
                }
                else if(answer == "* 3"){
                    alert("왕비님은 세상에서 제일 아름답지 않습니다.왕비님은 세상에서 제일 아름답지 않습니다.왕비님은 세상에서 제일 아름답지 않습니다.\n거울 곧 깨지겠는데?");
                    clearAnswer()
                }
                else if(answer == "+ text"){
                    alert("왕비님은 세상에서 제일 아름답지 않습니다.왕비님은 세상에서 제일 아름답지 않습니다.\n안돼! 이건 더 화나게 만들 뿐이야!");
                    clearAnswer()
                }
                else if(answer == "+ text + text"){
                    alert("왕비님은 세상에서 제일 아름답지 않습니다.왕비님은 세상에서 제일 아름답지 않습니다.왕비님은 세상에서 제일 아름답지 않습니다.\n거울 곧 깨지겠는데?");
                    clearAnswer()
                }
                else{
                    alert("으음... 뭔가 복잡한 문제가...");
                }
            }
        }
        
        function clearAnswer() {
            var dropBox = document.getElementById("dragDropBox");
            dropBox.innerHTML = "";
        
            // Restore draggable items to their original state
            originalDragItems.forEach(function (item) {
                var clone = item.cloneNode(true);
                clone.setAttribute("draggable", "true");
                clone.setAttribute("id", item.id);
                dropBox.appendChild(clone);
            });
        }

    </script>
</head>
<body>
    <div class="navigator-container">
        <a class = 'fairytale_home' onclick="savepage()">다른동화 보러가기</a>
        <a class="gotohome" onclick="logout()">나가기</a>
    </div>
    <div class="conversation-container"></div>
    <div class="drag-drop" style="display: none;">
        <p>한번 도전해 볼까?</p>
        <div id="fillInTheBlank">
            <p>거울을 돕자! - 세번째 답</p>
            <p>text = "왕비님은 세상에서 제일 아름답지 않습니다."</p>
            <p>백설공주: 뒤에 더 찬양하는 말을 붙여보자... 이를테면..." 우주에서 제일 아름답습니다." 어때?</p>
            <p>text2  = " 우주에서 제일 아름답습니다."</p>
            <p>text = text<span id="dragDropBox" class="drop-box" ondrop="drop(event)" ondragover="allowDrop(event)" contenteditable="true"></span></p>
            <p>print&#40;text&#41;</p>
            <p>보기:<span id="a1" class="drag-item" draggable="true" ondragstart="drag(event)">* 2</span>
                <span id="a2" class="drag-item" draggable="true" ondragstart="drag(event)">* 3</span>
                <span id="a3" class="drag-item" draggable="true" ondragstart="drag(event)">+ text</span>
                <span id="a4" class="drag-item" draggable="true" ondragstart="drag(event)">+ text + text</span>
                <span id="a5" class="drag-item" draggable="true" ondragstart="drag(event)">+ text2</span></p>
                <button onclick="checkAnswer()">확인하기</button>
                <button onclick="clearAnswer()">비우기</button>
        </div>
    </div>


</body>
</html>