/* SnowWhite_Home.css */
.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: fade-out 0.5s forwards;
  z-index: 9999; /* Ensure the black screen is on top of everything */
}

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}