{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Snow White2 - Part 2</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/snowwhite_common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/snowwhite_code.css' %}">
    <script>
        var user = {
            username: "{{ user.username }}",
        };

        $(document).ready(function() {
            const conversations = {{ conversations|safe }};
            let currentLine = 0;
            const container = $('.conversation-container');
            const codeBlock = $('#code-block');
            const robotName = "{{ user.robotname }}";
        
            const displayConversation = () => {
                if (currentLine < conversations.length) {
                    const item = $('<div>').addClass('dialogue-container');
                    const text = $('<p>').addClass('dialogue-text').text(conversations[currentLine].text.replace(/robot/g, robotName));
                    if (conversations[currentLine].image) {
                        const img = $('<img>').addClass('speaker-image').attr('src', "{% static '' %}" + conversations[currentLine].image).attr('alt', 'Image');
                        item.append(img);
                    }
                    if (conversations[currentLine].image) {
                        if (conversations[currentLine].speaker == 'robot'){
                            const speakerName = $('<span>').addClass('speaker-name').text(robotName + ':');
                            text.prepend(speakerName);
                        }
                        else{
                            const speakerName = $('<span>').addClass('speaker-name').text(conversations[currentLine].speaker + ':');
                            text.prepend(speakerName);
                        }
                        
                    }
                    item.append(text);
                    container.append(item.hide().fadeIn(1000));

                    $('html, body').animate({
                        scrollTop: $(document).height()
                    }, 7000);

                    currentLine++;
                } else {
                    clearInterval(conversationInterval);
                    const nextButton = $('<a>').attr('href', "{% url 'snowwhite2_03' %}").addClass('next-button').text('다음이야기');
                    container.append(nextButton);
                    // Show the code block
                    codeBlock.show();
                }
            };

            const conversationInterval = setInterval(displayConversation, 7000); // 2-second interval for demonstration
            displayConversation(); // Show the first conversation immediately
        });

        function executeCode() {
            // Get the code from the textarea
            const code = $('#python-code').val();
    
            // Make an AJAX request to the Django view
            var csrftoken = Cookies.get('csrftoken'); 
                
            // set the CSRF token in the AJAX headers 
            $.ajaxSetup({ 
                headers: { 'X-CSRFToken': csrftoken } 
            }); 
            $.ajax({
                type: 'POST',
                url: '{% url "execute_code" %}',
                data: { python_code: code },
                dataType: 'json',
                success: function(response) {
                    $('#output').empty();
                    if ('result' in response) {
                        let resultArray = response.result;
                        console.log(resultArray);
                    
                        // Check if the result is an array
                        if (Array.isArray(resultArray)) {
                            // Loop through the array and append each element to #output
                            for (let i = 0; i < resultArray.length; i++) {
                                $('#output').append(resultArray[i] + '<br>');
                            }
                        } else if (typeof resultArray === 'string') {
                            // If it's a string, display it with line breaks
                            $('#output').html(resultArray.replace(/\n/g, '<br>'));
                        } else {
                            // If it's neither a string nor an array, just set the content as is
                            $('#output').html(resultArray);
                        }
                    } else if ('error' in response) {
                        // Display the error message
                        $('#output').text("무엇인가 잘못되었어! 다시 생각하고 작성해 볼까?");
                    }
                },
                error: function(xhr, status, error) {
                    $('#output').empty();
                    // Handle AJAX error
                    console.error('AJAX error:', status, error);
                    $('#output').text("무엇인가 잘못되었어! 다시 생각하고 작성해 볼까?");
                }
            });
        }
        function savepage() {
            const username = user.username

            // Make an AJAX request to the Django view
            var csrftoken = Cookies.get('csrftoken');
            $.ajaxSetup({
                headers: { 'X-CSRFToken': csrftoken }
            });
            $.ajax({
                type: 'POST',
                url: '{% url "savepage" %}',
                //data의 상세 내역은 수정을 요망
                data: {
                    username: username,
                    fairytale: 'snowwhite2',
                    page: '02' 
                },
                dataType: 'json',
                success: function(response) {
                    // Handle the success response
                    console.log(response);
                    if (response.status == 'success') {
                        window.location.href = '{% url "fairytale_home" %}';
                    } else {
                        alert(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    // Handle the error response
                    console.error('AJAX error:', status, error);
                    alert(error);
                }
            });
        }
        function logout() {
            // Make an AJAX request to the Django view for logging out
            var csrftoken = Cookies.get('csrftoken');
            $.ajax({
                type: 'POST',
                url: '{% url "logout_and_home" %}',
                headers: { 'X-CSRFToken': csrftoken },
                success: function(response) {
                    // Redirect to the home page after successful logout
                    window.location.href = '{% url "home" %}';
                },
                error: function(xhr, status, error) {
                    // Handle the error response
                    console.error('AJAX error:', status, error);
                    alert(error);
                }
            });
        }
    </script>
</head>
<body>
    <div class="navigator-container">
        <a class="fairytale_home" onclick="savepage()">다른동화 보러가기</a>
        <a class="gotohome" onclick="logout()">나가기</a>
    </div>
    <div class="conversation-container"></div>
    
    <!-- Code block -->
    <div class = "code-container">
        <div id="code-block" style="display: none;">
            <div id="explanation">지금까지 변수에는 숫자만 저장했었지만, 더 다양한 것들을 저장할 수 있답니다!<br>
                변수에 다른 변수의 값을 저장하거나, 다른 변수끼리 계산한 값을 저장하는 것도 가능하답니다!<br>
                한번 위의 대화 예제를 직접 작성해 볼까요?
            </div>
            <div id = "code-block-header">
            <h2>한번 연습해 볼까?</h2>
            </div>
            <div id="input">
                <textarea id="python-code" placeholder="number_1 = 5..."></textarea>
            </div>
            <div id="output"></div>
            <div id="submit-button-area">
                <a class="code-submit-button" onclick="executeCode()">코드 실행!</a>
            </div>
        </div>
    </div>
</body>
</html>